@page "/"

<div>
1) click inside this text input (you don't need to type anything):
</div>
<input type="text"/>
<div>2) scroll down to the datepicker, make sure the text input keeps focus (don't click anywhere else)</div>

<div style="min-height: 100vh"></div>

<div>
    3) click the datepicker icon and select a date. once the date is clicked the site will scroll back up to the text input
</div>
<RadzenDatePicker @bind-Value="date" PopupRenderMode="Radzen.PopupRenderMode.OnDemand"/>

<div style="min-height: 50vh"></div>

@code {
    private DateTime date = DateTime.Now;
}